<h2><%=@figure.name%></h2>
<form action='/figures/<%=@figure.id%>/edit'>
  <input type="submit" value="Edit">
</form>

<br></br>

<h4><%=@figure.name%>'s Titles:</h4>
<%@figure.titles.each do |title|%>
<ul>
  <li>
    <h5><%=title.name%></h5>
  </li>
</ul>
<%end%>

<h4><%=@figure.name%>'s Landmarks:</h4>
<%@figure.landmarks.each do |landmark|%>
<ul>
  <li>
    <h5><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a></h5>
  </li>
</ul>
<%end%>
